/* custom.css */
body,
button,
h1,
h2,
h3,
h4,
h5,
h6,
div,
.navbar,
.list-group-item,
.card-header,
.card-body,
.card-footer,
.form-control {
    font-family: 'Roboto', sans-serif;
}


/* Custom Styles */
#chat-container {
    max-height: 24rem;
    overflow-y: scroll;
}

#message-input {
    resize: none;
}

.message-container {
    display: flex;
    justify-content: space-between;
    align-items: self-end; /* Align timestamp to the baseline of the message */
    background-color: #f8f9fa !important;
    margin-bottom: 10px; /* Adjust margin as needed */
}

.message {
    flex: 1; /* Allow message to grow to fill available space */
}

.message-time {
    margin-right: 0.5rem;
    color: #5e666d;
    font-size: 1.0rem;
}