/* custom.css */
* {
    font-family: 'Roboto', sans-serif;
}


/* Custom Styles */
#chat-container {
    max-height: 23rem;
    min-height: 23rem;
    overflow-y: scroll;
}

#message-input {
    resize: none;
}

.message-container {
    display: flex;
    justify-content: space-between;
    align-items: self-end; /* Align timestamp to the baseline of the message */
    background-color: #f8f9fa !important;
    margin-bottom: 10px; /* Adjust margin as needed */
}

.message {
    flex: 1; /* Allow message to grow to fill available space */
}

.message-time {
    margin-right: 0.5rem;
    color: #5e666d;
    font-size: 1.0rem;
}
.timestamp {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 12px; /* Adjust font size as needed */
    color: #555; /* Adjust color as needed */
    padding: 5px; /* Adjust padding as needed */
    background-color: rgba(255, 255, 255, 0.5); /* Adjust background color and opacity as needed */
}