/* custom.css */
body,
button,
h1,
h2,
h3,
h4,
h5,
h6,
div,
.navbar,
.list-group-item,
.card-header,
.card-body,
.card-footer,
.form-control {
    font-family: 'Roboto', sans-serif;
}


/* Custom Styles */
#chat-container {
    max-height: 24rem;
    overflow-y: scroll;
}

#message-input {
    resize: none;
}